Run actions/setup-python@v5
  with:
    python-version: 3.7
    check-latest: false
    token: ***
    update-environment: true
    allow-prereleases: false
Installed versions
  Version 3.7 was not found in the local cache
  Error: The version '3.7' with architecture 'x64' was not found for Ubuntu [2](https://github.com/redhat-performance/benchmark-runner/actions/runs/11322675100/job/31484171496#step:3:2)4.04.
  The list of all available versions can be found here: https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json